<h1>New Entry for <%= @place["name"] %></h1>

<form action= "/entries" method="post"> 

  <p>
    <label for="title">Location</label>
    <input type="text" name="location" id="location">
  </p>
    <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>

<p>
   <label for="posted on">Posted on</label>
   <input type ="date" name="posted on" id="posted on">
  </p>
  <p>
    <input type="hidden" name = "place_id" id ="place_id" value="<%= params["place_id"]%>">
  </p>
  <button>Submit</button>
</form>

