<h1> Places I've been </h1>

<% vists = ["Mexico City", "Austin", "New York", "Chicago"] %>%

<p> I've been to <% places.all%>
  <ul>
    <% for visits in visits %>
    <li><%= filing %></li>
    <% end %>
  </ul>




# <ul>
#   <% for place in @places %>
#     <li> 
#       <%= place["name"] %>
#     </li>
#     <% end %>
#  </ul>

