<h1> Places I've been </h1>


# <ul>
#   <% for place in @places %>
#     <li> 
#       <%= place["name"] %>
#     </li>
#     <% end %>
#  </ul>


<ul>
  <% for place in @places %>
    <li>
      <a href= "/places/<%= ["id"]%>">
        <%= place["name"] %>
      </a>
    </li>
</ul>
