<h1> New Place </h1>

<form action= "/places" method="post">
  <p>
    <label for="title">Location</label>
    <input type="text" name="location" id="location">
  </p>
<p>
   <label for="posted on">Posted on</label>
   <input type ="date" name="posted on" id="posted on">
</p>
  <button>Submit</button>
</form>  

