<h1><%= @place.name %></h1>

<ul>
  <li>
    <a href="/places/<%= @place.id %>">
      <%= @place.name %>
    </a>
  </li>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place.id %>">New Contact</a>
</p>
<p>
  <a href="/places">Back to All Places</a>
</p>
