

<h1><%= @place["name"] %></h1>


<ul>
  <% for company in @places %>
    <li>
      <a href= "/companies/<%= places["id"]%>"><%= place ["name"] %></a>


</ul>

<p>
  <a href="">New Contact</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>
